[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wemake-python-styleguide = "*"

[packages]
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
python-dotenv = "*"
uwsgi = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
